@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Assistant', sans-serif;
    background-color: #f1f1f1;
    background-size: cover;

}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

.footer {
    background-color: #2d2d2d;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
}

.footer ul li {
    list-style: none;
    flex-direction: row;
    background-color: #2d2d2d;
    color: #f1f1f1;
    padding: 10px 0;
    margin: 0 25px 0 0;
    font-size: 14px;
}

.html {
    scroll-behavior: smooth;
}

.tbd {
    background-color: black;
    color: whitesmoke;
}

h1, h2, h3, p, ul, ol, i, blockquote, .pullquote {
    color: #2d2d2d;
}

ul, ol {
    list-style-type: square;
    list-style-position: inside;
}

li {
    margin: 0px 0px 5px 0px;
}

ul, ol li {
    background-color: transparent;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

a:link {
    color: #009c99;
    text-decoration: none;
    background: transparent;
}

a:hover {
    color: #009c99;
    text-decoration: underline;
    transition: 0.5s;
}

a:active {
    color: #009c99;
    text-decoration: underline;
    transition: 0.5s;
}

a:visited {
    color: #009c99;
    text-decoration: none;
}

blockquote {
    margin: 15px 0px;
    padding: 10px 15px;
    border-left: 5px solid #009c99;
    font-size: 17px;
}

.pullquote {
    font-size: 20px;
    border-left: 5px solid #009c99;
    padding: 10px 15px;
    margin: 15px 0px;
}

/*.tag {
    border-color: #009c99;
    border-radius: 10%;
    border-style: solid;
    border-width: 2px;
    padding: 2px 4px;
}*/

input {
    appearance: none;
  
    border-radius: 50%;
    width: 16px;
    height: 16px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
}

input:checked {
    border: 6px solid #009c99;
  }

::-moz-selection { /* Code for Firefox */
    color: black;
    background: #99d7d6;
}
  
::selection {
    color: black;
    background: #99d7d6;
}

.content ul {
    list-style: outside square;
    padding: 5px 15px 5px 20px;
}

.home h1 {
    padding: 0px 0px 50px 0px;
}

.home h2 {
    padding: 0px 0px 30px 0px;
}

.nav-links ul {
        list-style: none;
}

.nav-links ul li {
    font-size: 15px;
}

.menu-on {
    text-decoration: underline solid #009c99 2px;
    -webkit-text-decoration: underline solid #009c99;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.content p {
    line-height: 1.5;
}
  
/* The progress container (grey background) */
.progress-container {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 5px;
    background: transparent;
  }
  
/* The progress bar (scroll indicator) */
  .progress-bar {
    height: 5px;
    background: #009c99;
    width: 0%;
}

.progress {
    background-color: #2d2d2d;
    font-size: 15px;
    animation: progressBar 3s ease-in-out;
    animation-fill-mode:both; 
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@-webkit-keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}
  
@-moz-keyframes progressBar {
    0% { width: 0; }
    100% { width: 100%; }
}

@keyframes arrowappear {
    from {opacity:0}
    to {opacity:1}
}

button {
    background-color: #009c99;
    color: #f1f1f1;
    margin: 0 5px;
    padding: 3px 15px;
    border-radius: 10%;
    cursor: pointer; 
}

a.btn {
    background-color: transparent;
    color: #f1f1f1;
}

ul, #list {

    list-style-type: none;

}

@media screen and (min-width:1650px)  {

    body {
        width: 100%;
    }

    p {
        font-size: 17px;
        text-align: left;
    }

    blockquote {
        margin: 15px 0px;
        padding: 10px 15px;
        border-left: 5px solid #009c99;
        font-size: 17px;
    }
    
    ul, ol {
        font-size: 16px;
    }

    .home-bar {
        padding: 100px 0px 30px 0px;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 40%;
    }

    .home-logo {
        padding: 0px 0px 0px 0px;
    }
    
    .home-logo img {
        height: 150px;
    }
    
    .home {
        padding: 50px 0px 0px 0px;
        margin: auto;
        width: 40%;
    }

    .home h1 {
        font-weight: normal;
    }

    .footer ul {
        width: 40%;
        margin: auto;
        display: flex;
    }

    .nav-bar {
        margin: auto;
        width: 50%;
        max-width: 567px;
    }

    .nav-logo img {
        height: 100px;
        margin: 20px 0px 20px 0px;
    }

    .open-menu {
        display: none;
    }

    #open-menu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .nav-links {
        margin: auto;
        width: 50%;
        padding: 0px 0px 50px 0px;
        max-width: 567px;
    }

    .nav-links ul li {
        display: inline-block;
        padding: 0px 30px 0px 0px;
    }

    .nav-links ul li a:link {
        color: #009c99;
        text-decoration: none;
        display: block;
        position: relative;
     }

    .nav-links ul li a:hover {
        color: #009c99;
    }

    .nav-links ul li a:active {
        color: #009c99;
        text-decoration: none;
    }

    .nav-links ul li a:visited {
        color: #009c99;
        text-decoration: none;
    }

    .nav-links ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #009c99;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    .nav-links ul li a:hover::after,
    .nav-links ul li a:focus::after {
        opacity: 1;
        transform: translate3d(0, 3px, 0);
    }
    
    .toc {
        font-size: 15px;
        right: 12.5vw;
        width: 13.5vw;
        max-width: 220px;
        min-width: 180px;
        position: fixed;
        top:35%;
        color: #2d2d2d;
        background-color: transparent;
        animation-name: arrowappear;
        animation-duration: 0.5s;
    }

    .toc p {
        font-size: 15px;
    }

    .toc ul li {
        font-size: 15px;
        color: #2d2d2d;
        cursor: pointer;
        margin: 0 5px 0 0;
        padding: 0 5px 0 0;
    }

    .toc ul li.active {
        color: #2baca9;
        transition-property: color;
        transition-duration: 0.5s;
        border-right: 3px solid #009c99;
    }

    .content {
        margin: auto;
        width: 50%;
        padding: 10px 0px;
        max-width: 567px;
    }
    
    .content h1,
    .content h2,
    .content h3 {
        padding: 10px 0px 10px 0px;
    }

    p {
        padding: 5px 0px 5px 0px;
    }
    
    .arrow {
        display: none;
        position: fixed;
        bottom: 25px;
        
        animation-name: arrowappear;
        animation-duration: 0.5s;
    }

    .arrow img {
        width: 35px;
        padding: 10px;
        background-color: #009c99;
        border-radius: 10%;
    }

    .cover img {
        max-width: 567px;
        border-radius: 2%;
    }

}

@media screen and (min-width:1090px) and (max-width:1649px) {

    body {
        width: 100%;
    }

    p {
        font-size: 17px;
        text-align: left;
    }

    blockquote {
        margin: 15px 0px;
        padding: 10px 15px;
        border-left: 5px solid #009c99;
        font-size: 17px;
    }
    
    ul, ol {
        font-size: 16px;
    }

    .home-bar {
        padding: 100px 0px 30px 0px;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 40%;
    }

    .home-logo {
        padding: 0px 0px 0px 0px;
    }
    
    .home-logo img {
        height: 150px;
    }
    
    .home {
        padding: 50px 0px 0px 0px;
        margin: auto;
        width: 40%;
    }

    .home h1 {
        font-weight: normal;
    }

    .footer ul {
        width: 40%;
        margin: auto;
        display: flex;
    }

    .nav-bar {
        margin: auto;
        width: 50%;
        max-width: 567px;
    }

    .nav-logo img {
        height: 100px;
        margin: 20px 0px 20px 0px;
    }

    .open-menu {
        display: none;
    }

    #open-menu {
        display: none;
    }

    .close-menu {
        display: none;
    }

    .nav-links {
        margin: auto;
        width: 50%;
        padding: 0px 0px 50px 0px;
        max-width: 567px;
    }

    .nav-links ul li {
        display: inline-block;
        padding: 0px 30px 0px 0px;
    }

    .nav-links ul li a:link {
        color: #009c99;
        text-decoration: none;
        display: block;
        position: relative;
     }

    .nav-links ul li a:hover {
        color: #009c99;
    }

    .nav-links ul li a:active {
        color: #009c99;
        text-decoration: none;
    }

    .nav-links ul li a:visited {
        color: #009c99;
        text-decoration: none;
    }

    .nav-links ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #009c99;
        opacity: 0;
        transition: opacity 300ms, transform 300ms;
    }

    .nav-links ul li a:hover::after,
    .nav-links ul li a:focus::after {
        opacity: 1;
        transform: translate3d(0, 3px, 0);
    }
    
    
    .toc {
        font-size: 15px;
        right: 7.5vw;
        width: 13.5vw;
        max-width: 220px;
        min-width: 180px;
        position: fixed;
        top:35%;
        color: #2d2d2d;
        background-color: transparent;
        animation-name: arrowappear;
        animation-duration: 0.5s;
    }

    .toc p {
        font-size: 15px;
    }

    .toc ul li {
        font-size: 15px;
        color: #2d2d2d;
        cursor: pointer;
        margin: 0 5px 0 0;
        padding: 0 5px 0 0;
    }

    .toc ul li.active {
        color: #2baca9;
        transition-property: color;
        transition-duration: 0.5s;
        border-right: 3px solid #009c99;
    }

    .content {
        margin: auto;
        width: 50%;
        padding: 10px 0px;
        max-width: 567px;
    }
    
    .content h1,
    .content h2,
    .content h3 {
        padding: 10px 0px 10px 0px;
    }

    p {
        padding: 5px 0px 5px 0px;
    }
    
    .arrow {
        display: none;
        position: fixed;
        bottom: 25px;
        animation-name: arrowappear;
        animation-duration: 0.5s;
    }

    .arrow img {
        width: 35px;
        padding: 10px;
        background-color: #009c99;
        border-radius: 10%;
    }

    .cover img {
        max-width: 567px;
        border-radius: 2%;
    }

}

@media screen and (min-width:549px) and (max-width:1089px) {

    p {
        font-size: 14px;
        text-align: left;
    }

    blockquote {
        margin: 15px 0px;
        padding: 10px 15px;
        border-left: 5px solid #009c99;
        font-size: 14px;
    }
    
    ul, ol {
        font-size: 13px;
    }
    
    .home-bar {
        width: 70%;
        margin: 0 0 0 50px;
        padding: 100px 0px 50px 0px;
    }
    
    .home-logo img {
        height: 100px;
    }
    
    .home {
        width: 70%;
        margin: 0 0 0 50px;
    }

    .home h1 {
        font-size: 20px;
        font-weight: normal;
    }

    .home p {
        font-size: 16px;
    }

    .home ul li {
        font-size: 15px;
    }

    .footer ul {
        width: 70%;
        margin: 0 0 0 50px;
        display: flex;
    }
            
    .nav-bar {
        display: flex;
        width: 70%;
        margin: 0 0 0 50px;
        padding: 32.5px 0 30px 0;        
    }

    .nav-logo img {
        height: 50px;
    }

    .nav-bar i {
        position: absolute;
        right: 50px;
        top: 50px;
        cursor: pointer;
    }
    
    .nav-links {
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 100%;
        min-height: 120vh;
        background-color: black; /* Fallback color */
        background-color: rgba(0,0,0,1); /* Black w/ opacity */
        right: 0;
        top: 0;
        position: fixed;
        padding-left: 35px;
        padding-top: 50px;
        z-index: 2;
        height: -webkit-fill-available;
        display: none;
        overscroll-behavior: contain;
    }

    @keyframes animateright {
        from {right:-25px; opacity:0}
        to {right:0; opacity:1}
    }

    @-webkit-keyframes animateright {
        from {right:-25px; opacity:0}
        to {right:0; opacity:1}
    }

    .nav-links-content {
        background-color: black;
        animation-name: animateright;
        animation-duration: 0.5s;
        }

    .nav-links i {
        background-color: black;
        color: #f1f1f1;
        cursor: pointer;
    }

    .nav-links .close-menu {
        background-color: black;
        position: absolute;
        right: 50px;
        top: 50px;
        cursor: pointer;
    }
    
    .nav-links ul {
        padding: 15px 0px 0px 0px;
        margin: 30px 0px;
        background-color: transparent;
    }
    
    .nav-links ul li {
        color: #f1f1f1;
        background-color: transparent;
        font-size: 15px;
        padding: 5px 0;
        margin: 0px 50px 0px 0px;
        text-align: end;
        }
    
    .nav-links ul a:link {
        color: #f1f1f1;
        text-decoration: none;
        background-color: transparent;
    }
    
    .nav-links ul a:hover {
        color: #f1f1f1;
        text-decoration: none;
    }
    
    .nav-links ul a:active {
        color: #f1f1f1;
        text-decoration: none;
    }
    
    .nav-links ul a:visited {
        color: #f1f1f1;
        text-decoration: none;
    }
        
    .content {
        max-width: 70%;
        margin: 0 0 0 50px;
    }
    
    .content h1,
    .content h2,
    .content h3 {
        padding: 15px 0px 10px 0px;
    }
    
    p {
        padding: 5px 0px 5px 0px;
    }
    
    .toc {
        font-size: 13px;
    }

    .toc ul li {
        cursor: pointer;
    }

    .toc ul li a {
        color: #009c99;
    }
      
    .arrow {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 50px;
        animation-name: arrowappear;
        animation-duration: 0.5s;
    }
    
    .arrow img {
        width: 35px;
        padding: 10px;
        background-color: #009c99;
        border-radius: 10%;
    }

    .cover img {
        max-width: 85%;
        border-radius: 2%;
        margin: 15px 0 15px 0;
    }

} 


@media screen and (max-width:549px)  {
    
    p {
        font-size: 14px;
        text-align: left;
    }

    blockquote {
        margin: 15px 0px;
        padding: 10px 15px;
        border-left: 5px solid #009c99;
        font-size: 14px;
    }
    
    ul, ol {
        font-size: 13px;
    }
    
    .home-bar {
        width: 85%;
        margin: auto;
        padding: 50px 0px 50px 0px;
    }
    
    .home-logo img {
        height: 100px;
    }
    
    .home {
        width: 85%;
        margin: auto;
    }

    .home h1 {
        font-size: 20px;
        font-weight: normal;
    }

    .home p {
        font-size: 16px;
    }

    .home ul li {
        font-size: 15px;
    }

    .footer ul {
        width: 85%;
        margin: auto;
        display: flex;
    }
            
    .nav-bar {
        display: flex;
        width: 85%;
        margin: auto;
        padding: 32.5px 0 30px 0;        
    }

    .nav-logo img {
        height: 50px;
    }

    .nav-bar i {
        position: absolute;
        right: 35px;
        top: 50px;
        cursor: pointer;
    }
    
    .nav-links {
        margin: 0px 0px 0px 0px;
        width: 100%;
        height: 100%;
        min-height: 120vh;
        background-color: black; /* Fallback color */
        background-color: rgba(0,0,0,1); /* Black w/ opacity */
        right: 0;
        top: 0;
        position: fixed;
        padding-left: 35px;
        padding-top: 50px;
        z-index: 2;
        height: -webkit-fill-available;
        display: none;
        overscroll-behavior: contain;
    }

    @keyframes animateright {
        from {right:-25px; opacity:0}
        to {right:0; opacity:1}
    }

    @-webkit-keyframes animateright {
        from {right:-25px; opacity:0}
        to {right:0; opacity:1}
    }

    .nav-links-content {
        background-color: black;
        animation-name: animateright;
        animation-duration: 0.5s;
        }

    .nav-links i {
        background-color: black;
        color: #f1f1f1;
        cursor: pointer;
    }

    .nav-links .close-menu {
        background-color: black;
        position: absolute;
        right: 35px;
        top: 50px;
        cursor: pointer;
    }
    
    .nav-links ul {
        padding: 15px 0px 0px 0px;
        margin: 30px 0px;
        background-color: transparent;
    }
    
    .nav-links ul li {
        color: #f1f1f1;
        background-color: transparent;
        font-size: 15px;
        padding: 5px 5px;
        margin: 0px 30px 0px 0px;
        text-align: end;
        }
    
    .nav-links ul a:link {
        color: #f1f1f1;
        text-decoration: none;
        background-color: transparent;
    }
    
    .nav-links ul a:hover {
        color: #f1f1f1;
        text-decoration: none;
    }
    
    .nav-links ul a:active {
        color: #f1f1f1;
        text-decoration: none;
    }
    
    .nav-links ul a:visited {
        color: #f1f1f1;
        text-decoration: none;
    }
        
    .content {
        max-width: 85%;
        margin: auto;
    }
    
    .content h1,
    .content h2,
    .content h3 {
        padding: 15px 0px 10px 0px;
    }
    
    p {
        padding: 5px 0px 5px 0px;
    }
    
    .toc {
        font-size: 13px;
    }

    .toc ul li {
        cursor: pointer;
    }

    .toc ul li a {
        color: #009c99;
    }
      
    .arrow {
        display: none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        animation-name: arrowappear;
        animation-duration: 0.5s;
    }
    
    .arrow img {
        width: 35px;
        padding: 10px;
        background-color: #009c99;
        border-radius: 10%;
    }

    .cover img {
        max-width: 85%;
        border-radius: 2%;
        margin: 15px 0 15px 0;
    }

}